<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><form action="/user/update" method="POST"> 
        User ID: <input type="text" name='uid'> <br> <br>
        Phone: <input type="text" name='phone'> <br> <br>
        email: <input type="text" name='email'> <br> <br>
        User name: <input type="text" name='user_name'> <br> <br>
        Gender: <input type="text" name='gender'> <br> <br>
        <input type="submit">
    </form>
  </body>
</html>
