<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/user/login" method='POST'>
        User name: <input type="text" name='uname'> <br> <br>
        Password: <input type="text" name='upwd'> <br> <br>
        <input type="submit">
    </form>
  </body>
</html>
