<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/user/details" method='GET'>
        User ID: <input type="text" name='uid'> 
        <input type="submit">
    </form>
  </body>
</html>
